<div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= bootstrap_form_for @link do |f| %>

        <%= f.text_field :url %>

        <%= f.text_field :title %>

        <%= f.submit "Submit", class: "btn btn-success"%>

      <% end %>
    </div>
  <div class="col-md-4"></div>
</div>
